<div class="task-lists">
    <app-task-list *ngFor="let list of lists"
                   class="list-container"
                   appDroppable
                   [dragEnterClass]="'drag-enter'">
        <app-task-header [header]="list.name"
                         (newTask)="launchNewTaskDialog()"
                         (moveAll)="launchCopyTaskDialog()"
                         (deleteAll)="launchDeleteDialog()"
                         (editList)="launchEditListDialog()"></app-task-header>
        <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)">

        </app-task-item>
    </app-task-list>
</div>
<button mat-button mat-fab class="fab-button" type="button" (click)="add()">
    <mat-icon>add</mat-icon>
</button>
