<form>
    <h2 mat-dialog-title>{{title}}</h2>
    <div mat-dialog-content>
        <mat-input-container align="end" color="accent" class="full-width">
            <input matInput type="text" placeholder="任务内容"/>
        </mat-input-container>
        <mat-radio-group name="priority">
            <mat-radio-button *ngFor="let priority of priorities" [value]="priority.value">
                {{priority.label}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-input-container class="full-width">
            <input matInput [matDatepicker]="dueDatepicker" placeholder="任务截止日期">
            <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatepicker></mat-datepicker>
        </mat-input-container>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="reminderDatepicker" placeholder="提醒日期">
            <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #reminderDatepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button color="primary" (click)="save()">保存</button>
        <button type="button" mat-button mat-dialog-close>关闭</button>
    </div>
</form>
