<form>
    <md-card>
        <md-card-header>
            <md-card-title>登录:</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-input-container align="end" color="accent" class="full-width">
                <!--<span mdPrefix>Prefix</span>-->
                <input mdInput type="text" placeholder="您的email"/>
                <!--<span mdSuffix>@gmail.com</span>-->
                <!--<md-hint>*</md-hint>-->
            </md-input-container>
            <md-input-container align="end" color="accent" class="full-width">
                <input mdInput type="password" placeholder="您的密码"/>
            </md-input-container>
            <button type="button" color="primary" md-raised-button>登录</button>
        </md-card-content>
        <md-card-actions class="text-right">
            <p>还没有账号？<a href="">注册</a></p>
            <p>忘记密码？<a href="">找回</a></p>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-title>每日佳句</md-card-title>
            <md-card-subtitle>xxx</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/assets/img/quote_fallback.jpg" alt=""/>
        <md-card-content>xxxxx</md-card-content>
    </md-card>
</form>
